<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>
<p>
  <strong>phone_number:</strong>
  <%= @restaurant.phone_number %>
</p>

<div>
<p> <strong> Reviews: </strong></p>
  <ul>
    <% @restaurant.reviews.each do |review| %>
    <li> <%= review.rating %>
     <%= review.content  %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Back', restaurants_path %>
